# HAProxy configuration for the two load balancer machines.
#
# This content replaces the default configuration that furyctl writes. The default one
# load balances only the Kubernetes API server. This one also load balances the HAProxy
# Ingress Controller that runs on the worker machines.
#
# NOTE: the installer always adds a `prometheus` frontend on port 8405. Do not add it here.

frontend k8s-api-server
    mode tcp
    bind *:6443 alpn h2,http/1.1
    default_backend control-plane
    timeout client 50s

backend control-plane
    mode tcp
    option httpchk GET /healthz
    balance roundrobin
    timeout connect 5s
    timeout server 50s
    server cp1.example.com cp1.example.com:6443 check check-ssl ca-file /usr/local/etc/haproxy/kubernetes.crt
    server cp2.example.com cp2.example.com:6443 check check-ssl ca-file /usr/local/etc/haproxy/kubernetes.crt
    server cp3.example.com cp3.example.com:6443 check check-ssl ca-file /usr/local/etc/haproxy/kubernetes.crt

frontend ingress-http
    mode tcp
    bind *:80
    default_backend ingress-http
    timeout client 50s

backend ingress-http
    mode tcp
    balance roundrobin
    timeout connect 5s
    timeout server 50s
    server worker1.example.com worker1.example.com:30080 maxconn 256 check
    server worker2.example.com worker2.example.com:30080 maxconn 256 check
    server worker3.example.com worker3.example.com:30080 maxconn 256 check

frontend ingress-https
    mode tcp
    bind *:443
    default_backend ingress-https
    timeout client 50s

backend ingress-https
    mode tcp
    balance roundrobin
    timeout connect 5s
    timeout server 50s
    server worker1.example.com worker1.example.com:30443 maxconn 256 check
    server worker2.example.com worker2.example.com:30443 maxconn 256 check
    server worker3.example.com worker3.example.com:30443 maxconn 256 check
